.login {
    display: flex;
    justify-content: center;
}

.content {
    min-width: 500px;
    display: inline-block;
    background: white;
    border-radius: 5px;
}

.title {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.form {
    padding: 20px;
}