@import url('../../../styles/var.css');

.button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--main-color);
    transition: all 0.1s;
    font-size: 16px;
}

.button:hover{
    background: var(--main-color);
    color: white;
}

.button:disabled {
    cursor: not-allowed;
}